@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@400;500&family=Tinos:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Lora', serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(../image/test1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
}

header h1 {
    color: #e60000;
}

main p {
    margin-top: -8px;
    color: #000000;
    padding-top: 3px;
    text-align: justify;
    text-indent: 15px;
}

footer p {
    opacity: 0.7;
}

/* .developer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #000000;
    font-weight: 600;
} */

@media(max-width: 430px) {
    body {
        background-image: url(../image/test2.JPG);
    }
    /* .developer {
        display: none;
    } */
}